page-home {

    
    
    h1{
        position: relative;
        font-size: 8vh;
        top: 10%
        
        }
        .bck{
        background-color: whitesmoke;
        position: fixed;
        }
        .star{
        position: absolute;
        border-right: 330px solid white;
        border-bottom: 250px solid white;
        border-top: 100px solid transparent;
        top: 50%;
        left: 50%;
        margin-top: 10%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        }
        .txt{
        // position: fixed;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        
        }
        .txt1{
        color: black;
        }
        .btn{
        position: absolute;
        top: 82%;
        // left: 35%;
        // top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        }
        .up{
        position: absolute;
        top: 90%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        }
        .av{
        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 100px;
        top: 35%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        }
        #asd{
        position: fixed;
        top: 70%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 82%;
        
        }    

}
